@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif !important;

  scrollbar-width: none;
  word-break: keep-all;

  &::-webkit-scrollbar {
    width: 0;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: #457dd1;
    border-radius: 8px;
  }

  &:has(.modal-open) {
    overflow: hidden;
  }
}
